<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-5">Componentes de un ordenador</h1>
            <p [innerHTML]="'Pasa el ratón sobre la placa y descubre el lugar de cada componente.' | miTexto"></p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <!-- Contenedor de la placa base -->
            <div class="placa-container">
                <!-- Imagen de la placa base -->
                <img src="assets/img/placa-base.jpg" alt="Placa base" class="placa-img" [style.max-height.px]="600">

                <!-- Componentes interactivos -->
                <div *ngFor="let componente of componentes"
                    class="componente {{ componente.tipo_nombre?.toLowerCase() }}"
                    (mouseenter)="mostrarTooltip(componente, $event)" (touchstart)="mostrarTooltip(componente, $event)"
                    (mouseleave)="ocultarTooltip()" (touchend)="ocultarTooltip()">
                </div>

                <!-- Tooltip -->
                <div *ngIf="tooltipVisible" class="tooltip bg-white border rounded shadow p-3" [ngStyle]="tooltipStyle"
                    (mouseenter)="evitarOcultarTooltip()" (mouseleave)="ocultarTooltip()">

                    <div class="d-flex align-items-center">
                        <!-- Imagen del componente -->
                        <div class="me-3">
                            <img [src]="componenteSeleccionado?.tipo_imagen_url" class="rounded-circle border"
                                style="width: 100px; height: 100px; object-fit: contain;">
                        </div>

                        <div>
                            <!-- Nombre del componente -->
                            <h6 class="fw-bold mb-1 text-start">{{ componenteSeleccionado?.tipo_nombre }}</h6>
                            <!-- Descripción del componente -->
                            <p class=" text-muted mb-0 text-start">{{ componenteSeleccionado?.descripcion_educativa }}</p>
                        </div>
                    </div>
                    <!-- Botón para cerrar el tooltip en dispositivos táctiles -->
                    <button *ngIf="isTouchDevice" class="btn btn-dark mt-3" (click)="cerrarTooltip()">Cerrar</button>
                </div>


            </div>
        </div>
    </div>
</div>