/* Estilos para los componentes */
.componente {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para el tooltip */
  .tooltip {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }