<div class="container mt-5">
    <div class="row">
      <div class="col text-center">
        <h1>Componentes de un ordenador</h1>
        <p>Pasa el ratón sobre la placa y descubre el lugar de cada componente.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center position-relative">
        
        <!-- Imagen de fondo de la placa base -->
        <img src="img/placa-base.jpg" alt="Placa base" class="img-fluid">
  
        <!-- Componentes interactivos -->
        <div *ngFor="let componente of componentes" 
             class="componente position-absolute" 
             [ngStyle]="getPosition(componente)" 
             (mouseenter)="mostrarTooltip(componente)" 
             (mouseleave)="ocultarTooltip()" 
             (mousemove)="actualizarTooltip($event)">
          <span>{{ componente.nombre }}</span>
        </div>
  
        <!-- Tooltip -->
        <div *ngIf="tooltipVisible" class="tooltip position-absolute" [ngStyle]="tooltipStyle">
          <h2>{{ componenteSeleccionado?.nombre }}</h2>
          <p>{{ componenteSeleccionado?.descripcion }}</p>
          <img [src]="componenteSeleccionado?.url_imagen" class="img-fluid">
        </div>
      </div>
    </div>
  </div>