<div class="d-flex flex-column min-vh-100">

<!-- Encabezado con Navbar personalizado -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-gradient bg-dark shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-bold fs-4 text-info" href="#">
        <img src="assets/img/logoPc.png" alt="Placa base" class="placa-img me-3" [style.max-height.px]="80">
        <span [innerHTML]="'GeloTech' | miTexto" class="fw-medium"></span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav gap-2 gap-md-3">
          <li class="nav-item">
            <a class="nav-link text-uppercase fw-semibold fs-md-6" routerLink="/bienvenida">
              <i class="bi bi-house-door-fill d-none d-md-inline"></i> Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fw-semibold fs-md-6" routerLink="/lista-componentes">
              <i class="bi bi-collection d-none d-md-inline"></i> Componentes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fw-semibold fs-md-6" routerLink="/vista-interactiva">
              <i class="bi bi-mouse3-fill d-none d-md-inline"></i> Vista Interactiva
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fw-semibold fs-md-6" routerLink="/pdf-viewer">
              <i class="bi bi-book d-none d-md-inline"></i> Guías
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fw-semibold fs-md-6" routerLink="/acerca-de">
              <i class="bi bi-info-circle-fill d-none d-md-inline"></i> Acerca de
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

  <main class="flex-grow-1 mb-5">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="bg-body-secondary text-center pt-4 mt-auto">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-1 mb-md-0">
          <h5 [innerHTML]="'Contacto' | miTexto"></h5>
          <p class="small">yohannagelo&#64;gmail.com</p>
          
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <h5 [innerHTML]="'Sígueme' | miTexto"></h5>
          <a href="https://www.linkedin.com/in/yohannagelo/" class="text-dark me-2"><i class="bi bi-linkedin"></i></a>
          <a href="https://www.instagram.com/yohannagelo/" class="text-dark me-2"><i class="bi bi-instagram"></i></a>
          <a href="mailto:yohannagelo@gmail.com" class="text-dark"><i class="bi bi-envelope"></i></a>
        </div>
        <div class="col-md-4">
          <h5 [innerHTML]="'Enlaces útiles' | miTexto"></h5>
          <a routerLink="/acerca-de" class="d-block text-dark small text-decoration-none">Acerca de</a>
        </div>
      </div>
    </div>
    <!-- Copyright pegado abajo -->
    <div class="bg-dark text-light p-2 mt-1 bg-gradient bg-dark">
      <p class="small mb-0">&copy; 2025 <span [innerHTML]="'GeloTech.' | miTexto"></span> Todos los derechos reservados.</p>
    </div>
  </footer>
</div>
