<div class="container mt-5">

    <!-- Título y descripción -->
    <div class="row mb-4">
        <div class="col text-center">
            <h1 class="display-5 animate__animated animate__fadeInUp">Guías y tutoriales</h1>
            <p class="lead"
                [innerHTML]="'Aquí dejo algunas de mis guías y tutoriales para que explores y disfrutes del mundo de la tecnología.' | miTexto">
        </div>
    </div>

    <!-- Acordeón -->
    <div class="accordion" id="pdfAccordion">
        <div *ngFor="let pdf of pdfList; let i = index" class="accordion-item mb-3">
            <h2 class="accordion-header" [id]="'heading' + i">
                <button class="accordion-button shadow-sm custom-button" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + i"
                    [attr.aria-expanded]="selectedPdfIndex === i ? 'true' : 'false'"
                    [attr.aria-controls]="'collapse' + i" [ngClass]="{ 'btn-secondary': selectedPdfIndex === i }"
                    (click)="selectPdf(i)">
                    {{ pdf.name }}
                </button>
            </h2>
            <div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{ show: selectedPdfIndex === i }"
                [attr.aria-labelledby]="'heading' + i" data-bs-parent="#pdfAccordion">
                <div class="accordion-body p-3">
                    <iframe [src]="pdf.url" width="100%" height="500px"
                        style="border: none; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>