<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">Acerca de</h1>
            <p class="lead">Esta es una aplicación desarrollada como proyecto final para la asignatura de
                <strong>Desarrollo Web en Entorno Cliente</strong> de 2º de DAW.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">

            <h2 class="mb-3" [innerHTML]="'¿Por qué esta aplicación?' | miTexto"></h2>
            <p>
                Esta aplicación fue creada para gestionar componentes de ordenadores, permitiendo realizar operaciones
                CRUD (Crear, Leer, Actualizar y Eliminar) a través de una API en PHP. El objetivo es demostrar las
                habilidades adquiridas en el desarrollo de aplicaciones web con Angular.
            </p>
            <div class="d-flex flex-column align-items-center">
                <img src="img/acerca-de.webp" alt="Placa base" class="img-fluid mt-3" [style.height.px]="130">
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="mb-3">Sobre mí</h2>
            <p>
                ¡Hola! Soy <strong>Yohanna Gelo</strong>, estudiante de Desarrollo de Aplicaciones Web (DAW). Me
                apasiona el desarrollo frontend y backend, y este proyecto es una muestra de lo que he aprendido.
            </p>
            <div class="mt-4">
                <h3>Contacto</h3>
                <p>Puedes encontrarme en:</p>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#" target="_blank" class="text-decoration-none">
                          <i class="bi bi-linkedin me-2 text-dark"></i>
                          <span [innerHTML]="'LinkedIn' | miTexto"></span>
                        </a>
                      </li>
                      <li class="mb-2">
                        <a href="#" target="_blank" class="text-decoration-none">
                          <i class="bi bi-instagram me-2 text-dark"></i>
                          <span [innerHTML]="'Instagram' | miTexto"></span>
                        </a>
                      </li>
                      <li class="mb-2">
                        <a href="mailto:yohannagelo@gmail.com" class="text-decoration-none">
                          <i class="bi bi-envelope me-2 text-dark"></i>
                          <span [innerHTML]="'Correo electrónico' | miTexto"></span>
                        </a>
                      </li>
                </ul>
            </div>
        </div>
    </div>
</div>