<div class="container mt-5 d-flex flex-column align-items-center justify-content-center ">
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <p class="mt-2">Cargando detalles del componente...</p>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>

  <div *ngIf="componente && !isLoading" class="card col-md-8">
    <div class="row g-0">
      <!-- Imagen del componente -->
      <div class="col-md-4">
        <img [src]="componente.url_imagen" class="img-fluid rounded-start" alt="{{ componente.nombre }}"
          [style.max-height.px]="250">


      </div>
      <!-- Detalles del componente -->
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{ componente.nombre }}</h2>
          <p class="card-text"><strong>Tipo:</strong> {{ componente.tipo_nombre }}</p>
          <p class="card-text"><strong>Descripción:</strong> {{ componente.descripcion }}</p>
          <!-- Botones de acciones -->
          <div class="mt-4">
            <button (click)="editarComponente()" class="btn btn-secondary me-2">Editar</button>
            <button (click)="eliminarComponente()" class="btn btn-dark">Eliminar</button>
          </div>
        </div>
      </div>


    </div>
  </div>
  <a [routerLink]="['/lista-componentes']" class="btn btn-outline-dark ms-2 mt-5 w-25">Cancelar</a>
</div>